# .gitignore

# 仮想環境のディレクトリを無視
myenv/

# 他の無視するファイルやディレクトリの例
*.pyc
__pycache__/
.DS_Store
.env

# image_Conversionディレクトリのinputとoutputディレクトリの中身を無視
image_Conversion/input/*
image_Conversion/output/*
training3/myenv/
# gitにあげるファイルの変更